*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    /* align-items: center;
    height:50vh; */
    flex-wrap: wrap;
}

.box{
    /* width: 10rem; */
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1{
    background-color: blanchedalmond;
    /* flex-grow: 1; */
}

.box2{
    background-color: blue;
    /* order: 5; */
    flex-grow: 1;
}

.box3{
    background-color: blueviolet;
}

.box4{
    background-color: brown;
}

.box5{
    background-color: burlywood;
}

.box6{
    background-color: cadetblue;
}