/* main{ 
    background-color: blueviolet;
    width: 100%;
    height: 500px;
}

p{
    font-size: 16px;
}*/

/* medida em =toma la medida del padre directo
.text-container{
    font-size: 1em ;
}

.text-container div{
    font-size: 1.5em;
}*/

/* Medida rem siempre va a tener como referecia el root de la pagina html 
*{
   padding: 0;
   box-sizing: border-box;
   margin: 0; 
}

html{
    font-size: 62.5%;
}

p{
    font-size: 1.6rem;
}

main div{
    font-size: 1.6rem;
}*/

/* max_min width */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0; 
 }

 main{
     width: 100vw;
     height: 100vh;
     background-color: peru;
 }

 section{
     width: 80%;
     min-width: 320px;
     max-height: 500px;
     height: 500px;
     background-color: purple;
     margin: 0 auto;
 }