*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: serif;
}

.title{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: antiquewhite;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog{
    background-color: yellowgreen;
}

