.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0%;
    background-color: rgb(161, 161, 182);
}

.main-nav-item{
    display: inline-block;
}

.main-nav-item a{
    color: rgb(226, 168, 43);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.main-nav-item a:hover{
    color: chartreuse;
}

.main-nav-item a:active{
    color: pink;
}

.main-nav-item a::after{
    content: "|";
}

section{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}